.header{
    display: flex;
    justify-content: space-around;
    
}
.logo{
    font-size: 30px;
    color:black ;
    font-weight: 700;
    margin:10px;


}
.navBar{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    font-size: 17px;
    color: black;
    font-weight: 800;

}

.step1{
    display: flex;
    justify-content: space-between;
    gap:30px;
    margin-right: 10px;

}

.step2{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-left: 40px;
    margin-top: 4px;
    
} 

.step2 > li>img {
     margin-top: 17px;
     font-size: 30px;
     font-weight: 700;
     color:brown;
     
}

ul{
    list-style: none;
   
}
a{
    text-decoration: none;
    color: black;
}

.step2 >li > button{
    font-size: 15px;
    padding:12px 10px ;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 8px;
}
/* section 1 */
.section1{
    display: flex;
    background-color: #08111D;
    color:aliceblue;
    height: 520px;
}

.words{
    width:40%;
    margin-top: 35px;
    
}
.image{
    width: 60%;
}
.words > .word1{
    margin: 0;
    font-size: 100px;
    font-weight: 900;
    margin-left: 56px;
    color: #FFFFFF;
}

.word2{
    display: flex;
}

.word2 > .item1{
    margin: 0;
    font-size: 100px;
    font-weight: 900;
    margin-left: 56px;
    color: #034BFF;
  

}
.word2 > .item2{
    margin: 0;
    font-size: 95px;
    font-weight: 900;
    margin-left: 60px;
    color: #C7F64A;
   

}
.word3{
    margin: 0;
    font-size: 37px;
    font-weight: 800;
    margin-left: 61px;
    color: #FFFFFF;
}
.word4{
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 61px;
    color: #FFFFFF;
}

.words > .btns{
    margin-top: 25px;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
}

.btns > .btn1{
    padding: 10px 20px;
    background-color: #034BFF;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 20px;

}
.btns > .btn2{
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: 1px solid #8EABFF;
    border-radius: 5px;

}

.word5{
    display: flex;
    margin-left: 56px;
    gap:30px
}

.word5 > .items > .item{
    background-color: #B8C9CF;
    border-radius: 360%;
    display: inline-block;
    border: none;
    margin: 20px 0;
    padding: 7px 8px;
    font-size: 20px;
    color: black;

}

.items{
    display: flex;
}
.word5 > p{
    margin-top: 30px;
    color: #FFFFFF;
    font-size: 17px;
}

/* section 2 */

.section2{
    display: flex;
    justify-content: space-around;
    
}
.parts{
    display: flex;
}

.parts > .part1{
    margin-top: 45px ;
    margin-left: 20px;
}
.parts > .part2{
    margin-left: 30px;
}

.parts > .part3{
    margin-top: 35px ;
    margin-left: 50px;
    font-size: 30px;
    color: #47526A;

}
.parts > .part2 > .item1{
    font-size: 26px;
    font-weight: 800;
    color: black;
    margin-bottom: 0;
    
}

.parts > .part2 > .item2{
    font-size: 14px;
    font-weight: 400;
    color: #47526A;
    margin-top: 5px;
}
/* section 3 */
.section3{
    display: flex;
    background-color : white;
    padding: 30px;
}

.section3 > .part1{
    width: 50%;
}
.section3 > .part2{
    width: 50%;
}
.section3 > .part1 > .item1{
    color:#034BFF;
    font-size: 17px;
    margin-top: 35px;
    margin-left: 56px;

}
.section3 > .part1 > .item2{
    color:#0A1222;
    font-size: 56px;
    font-weight: 800;
    margin-top: 12px;
    margin-left: 56px;
    margin-bottom: 0;

}

.section3 > .part1 > .item3{
    color:#0A1222;
    font-size: 25px;
    font-weight: 400;
    margin-left: 56px;

}

.section3 > .part1 > .btn{
    background-color: #034BFF;
    color: white;
    border: none;
    font-size: medium;
    padding: 18px 14px;
    margin-left: 56px;
    border-radius: 5px;
    width: 222px;
}

.section3 > .part2 > .item1{
    width:220px;
    height: 220px;
    margin-top: 2px;
    border-radius: 10px;
    transform: rotate(-7deg);
}

.section3 > .part2 > .item2{
    width: 205px;
    height: 162px;
    margin-top: 91px;
    border-radius: 10px;
    transform: rotate(5deg);
}

.section3 > .part2 > .item3{
    width: 202px;
    height: 160px;
    margin-bottom: 71px;
    margin-right: 70px;
    border-radius: 10px;
    transform: rotate(5deg);
}

.section3 > .part2 {
    display: flex;
    align-items: center;
    
}













